{% extends 'base.html' %}


{% block content %}



    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Basic</h4>

        <!-- Examples -->
        {% for article in news_data %}
        <div class="row mb-5">
            {% for article in news_data %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <!-- Use the article loop's counter to generate a unique number for each card -->
                        <!-- This example uses the loop counter to select an image ID, 
                             but for truly random images, you could inject a random number via your view or JavaScript -->
                             <img class="card-img-top" src="https://picsum.photos/id/{{ forloop.counter|add:base_id }}/600/300" alt="Card image cap" onerror="this.onerror=null;this.src='https://picsum.photos/600/300';">
                             <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">
                                {{ article.snippet }}
                            </p>
                            <a href="/summary" class="btn btn-outline-primary">Summary</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
   
{% endblock %}